<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">PREFIXO</th>
      <th scope="col">GEPES</th>
      <th scope="col">DEPENDÊNCIA</th>
      <th scope="col">MUNICÍPIO</th>
      <th scope="col">UF</th>
      <th scope="col">REGIONAL</th>
      <th scope="col">CARTEIRA</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>48</td>
      <td>8442</td>
      <td>AUDIT</td>
      <td>Brasília</td>
      <td>DF</td>
      <td>SUPER CAMPO GRANDE</td>
      <td>{{ vm.item }}</td>
    </tr>
  </tbody>
  <span>{{ vm.item }}</span>
</table>